#app-container {
    background-color: #202428;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
}

svg {
    margin-left: auto;
    margin-right: auto;
}

text {
    fill: rgb(255, 255, 255) !important;
}