.wkr-table {
    border-radius: 15px;
    background-color: rgb(70, 70, 70);
}

.wkr-table form table tbody tr td > input {
    border-radius: 5px;
}

.errorHandler {
    margin-top: 10px;
    color: red;
    height: 20px;
    text-align: center;
}